* {
    box-sizing: border-box;
}

.Container-Mochila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.item-card {
    padding: 20px;
    border: 2px solid saddlebrown;
    color: rgb(34, 19, 0);
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.item-card > {
    border: 1px solid saddlebrown;
    color: rgb(110, 59, 0);
    font-family: 'Times New Roman', Times, serif;
}

.btn-descartar {
    visibility: hidden;
}

body {
    background-color: rgb(173, 117, 82);
}

header {
   font-size: 100px;
   color: rgb(77, 38, 10);
   font-weight: bold; 
   justify-content: center;
   text-align: center; 
}

form {
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: rgb(77, 38, 10);

    margin-bottom: auto;
}

#digite-nome {
    border: solid 4px saddlebrown;
    border-radius: 4px;
    background-color: burlywood;
    block-size: 50px;
    width: 20%;
}

#digite-efeito {
    border: solid 4px saddlebrown;
    border-radius: 4px;
    background-color: burlywood;
    block-size: 50px;
    width: 20%;
    height: 150px;
}

#adicionar {
    border: solid 4px saddlebrown;
    border-radius: 4px;
    background-color: burlywood;
    color: rgb(77, 38, 10);
    block-size: 25px;
}

::placeholder {
    color: rgb(77, 38, 10);
}

.itemlendario-card {
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 145, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}